<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>GetYourMusic</string>
    <key>CFBundleExecutable</key>
    <string>GetYourMusic</string>
    <key>CFBundleIdentifier</key>
    <string>dev.getyourmusic.GetYourMusic</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>GetYourMusic</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@VERSION@</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.music</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.2</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>NSAudioCaptureUsageDescription</key>
    <string>GetYourMusic records the audio your music player sends to an output device.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>GetYourMusic records audio from input devices such as virtual loopback drivers.</string>
</dict>
</plist>
